name: Build LaTeX, Upload Book
on: push
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v2
        with:
          root_file: Src/Main.tex
      # - name: Upload Book
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: Knjiga.pdf
      #     path: Main.pdf
      - name: Release Book
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Current version of Book"
          files: Main.pdf
