name: Detect Latex Code in issue, And Commit it

on:
  issue_comment:
    types:
      - created
      - edited

jobs:
  detect-latex:
    runs-on: ubuntu-latest
    if: startsWith(github.event.comment.body, '\documentclass{')
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Add LaTeX
        run: |
          cat > ${{ format('Src/{0}.tex', github.event.issue.title) }} << EOF
          ${{ github.event.comment.body }}
          EOF
      - name: Create PR
        uses: peter-evans/create-pull-request@v4
