name: Detect Latex, Create PR
on:
  issue_comment:
    types:
      - created
      - edited
jobs:
  detect-latex:
    runs-on: ubuntu-latest
    if: startsWith(github.event.comment.body, '\documentclass')
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Add LaTeX
        env:
          FILE: ${{ format('Src/Pages/{0}.tex', github.event.issue.title) }}
        run: |
          mkdir -p Src/Pages
          touch Src/Pages.tex
          cat > $FILE << EOF
          ${{ github.event.comment.body }}
          EOF
          echo "OLD:"
          cat $FILE
          awk '/\\\\begin{document}/{f=1; next} /\\\\end{document}/{f=0} f' $FILE > $FILE
          echo "NEW:"
          cat $FILE
          echo ${{ format('\\input{{Src/Pages/{0}}}', github.event.issue.title) }} \
          | cat Src/Pages.tex - | sort -u > Src/Pages.tex
      - name: Create PR
        uses: peter-evans/create-pull-request@v4
