name: Split Book.pdf
on:
  issues:
    types: edited
jobs:
  split-book:
    runs-on: ubuntu-latest
    #if: github.event.issue.issue_number == 1
    steps:
      - name: Hello
        run: |
          echo "Hello :D"
          echo '${{ toJson(github.event.issue) }}'
